h1, h2, h3, h4 {
    font-family: 'Yanone Kaffeesatz';
    font-weight: 400;
    margin-bottom: 0;
    margin-top: 10px;
}
h1 { font-size: 3.5em; }
h2 { font-size: 3em; }
h3 { font-size: 1.6em; }
h4 { font-size: 1em; }

a {
    color: #F92672;
    text-decoration: none;
}
.task {
    float: right;
    font-size: 0.9em;
    padding-top: 0.6em;
}
.task a {
    color: #080;
    text-decoration: none;
}

.uline {text-decoration: underline;}
.xkcd_font { font-family: 'humorsans'; font-size: 2.0em; font-weight: normal;}

.red    { color: #FF4943; }
.gray   { color: #787878; }
.green  { color: #87A558; }
.blue   { color: #41C8F0; }
.yellow { color: #DBEC62; }
.white  { color: #FFFFFF; }
.black  { color: #000000 !important; }

.or1 {color: #FFD740;}
.bluelight {color: #B3E5FC;}
.dark1 {color: #B6B6B6;}

.bold { font-weight: bold; }

.fonth2 {font-size: 3em;}
.fonth3 {font-size: 2.4em;}
.fonth4 {font-size: 2em;}
.fonth5 {font-size: 1.4em;}

.done-true {
  text-decoration: line-through;
  color: grey;
}

.fillblue   { fill: #41C8F0; }
.fillwhite  { fill: white; }

